<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<connectionStrings>
		<add name="SqlServerConnection" connectionString="Data Source=DESKTOP-L0IO9MT\SQLEXPRESS;Initial Catalog=SistemaDeVendas;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ViaCepBaseUrl" value="https://viacep.com.br/ws/" />
	</appSettings>
</configuration>